<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

<servers>
  <server>
    <id>maven-domain-maven-repo</id>
    <username>aws</username>
    <password>${env.AWS_CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
<profiles>
  <profile>
    <id>maven-domain-maven-repo</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>maven-domain-maven-repo</id>
        <url>https://$(env.CODEARTIFACT_DOMAIN_NAME)-${env.CODEARTIFACT_DOMAIN_OWNER}.d.codeartifact.${env.AWS_REGION}.amazonaws.com/maven/$(env.CODEARTIFACT_REPO_NAME)/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<mirrors>
  <mirror>
    <id>maven-domain-maven-repo</id>
    <name>maven-domain-maven-repo</name>
    <url>https://$(env.CODEARTIFACT_DOMAIN_NAME)-${env.CODEARTIFACT_DOMAIN_OWNER}.d.codeartifact.${env.AWS_REGION}.amazonaws.com/maven/$(env.CODEARTIFACT_REPO_NAME)/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>
