<?xml version="1.0" encoding="UTF-8"?>


<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

  <servers>
    <server>
      <id>abc-dev</id>
      <username>aws</username>
      <password><<token>></password>
    </server>
  </servers>
  <profiles>
	<profile>
	    <id>abc-dev</id>
	    <activation>
	      <activeByDefault>true</activeByDefault>
	    </activation>
	    <repositories>
	      <repository>
	        <id>abc-dev</id>
	        <url>https://abc-<<account_id>>.d.codeartifact.us-east-2.amazonaws.com/maven/dev/</url>
	      </repository>
	    </repositories>
	  </profile> 
	</profiles>


</settings>